{% extends "study/base.html" %}

{% block study_title %}{{ resource.title }}{% endblock %}

{% block study_actions %}
{% if user == resource.creator %}
<a href="{% url 'study:resource_edit' resource.id %}" class="btn btn-outline">
    <ion-icon name="create-outline"></ion-icon> Edit
</a>
{% endif %}
<a href="{% url 'study:resource_list' %}" class="btn btn-outline">
    <ion-icon name="arrow-back-outline"></ion-icon> Back
</a>
{% endblock %}

{% block study_content %}
<div class="text-resource">
    <div class="resource-meta">
        <div class="meta-item">
            <ion-icon name="person-outline"></ion-icon>
            <span>{{ resource.creator.username }}</span>
        </div>
        <div class="meta-item">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ resource.created_at|date:"M d, Y" }}</span>
        </div>
        <div class="meta-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>{{ resource.duration }} min read</span>
        </div>
    </div>
    
    <div class="resource-content">
        {{ resource.content|safe }}
    </div>
    
    <div class="resource-tags">
        {% for subject in resource.subjects.all %}
        <span class="tag subject">{{ subject.name }}</span>
        {% endfor %}
        {% for topic in resource.topics.all %}
        <span class="tag topic">{{ topic.name }}</span>
        {% endfor %}
    </div>
    
    {% if resource.access_level == 'premium' %}
    <div class="access-notice">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <p>This is a premium resource. You need to purchase access to view the full content.</p>
        <button class="btn btn-primary">Purchase for {{ resource.access_cost }} credits</button>
    </div>
    {% endif %}
</div>
{% endblock %}